#user-login{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.layermint{
    background: linear-gradient(
        90deg,
        rgba(255, 0, 0, 1) 0%,
        rgba(255, 154, 0, 1) 10%,
        rgba(208, 222, 33, 1) 20%,
        rgba(79, 220, 74, 1) 30%,
        rgba(63, 218, 216, 1) 40%,
        rgba(47, 201, 226, 1) 50%,
        rgba(28, 127, 238, 1) 60%,
        rgba(95, 21, 242, 1) 70%,
        rgba(186, 12, 248, 1) 80%,
        rgba(251, 7, 217, 1) 90%,
        rgba(255, 0, 0, 1) 100%
    );
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.user-login-form{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    width: 95%;
    height: 95%;
    margin: 0;
}

.app-details{
    padding: 3%;
}

.detail-header{
    font-weight: bold;
    font-size: 180px;
    color: white;
}

.detail-subtext{
    font-weight: lighter;
    font-size: 25px;
    color: white;
    width: 70%;
}

.username-input, .username-input:focus{
    height: 10%;
    width: 30%;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: white;
    /* margin-left: 30%; */
    text-align: center;
    background: transparent;    
    outline-width: 0;
    /* box-shadow: 12px 12px 2px 1px rgba(74, 255, 68, 0.877); */
    font-size: 60px;
    color: white;
    margin-top: 2%;
}

.author-name{
    font-weight: bold;
    color: white;
    transition: all 1s;
    opacity: 0;
}

.hide-author-name{
    opacity: 1;
}

::placeholder {
    /* font-size: 35px; */
    color: white;
    vertical-align: middle;
    font-weight: bold;
  }

  .user-form-submit{
      margin-top: 3%;
      background-color: transparent;
      border: 3px solid white;
      width: 9%;
      height: 45px;
      font-size: 25px;
      font-weight: bold;
      cursor: pointer;
  }