.user-login{
    width: 100vw;
    height: 100vh;
    background-color: burlywood;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.user-login-form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.user-login-label{
    font-weight: lighter;
    font-size: 80px;
}

.username-input{
    height: 20%;
    width: 50%;
    border: 1px solid black;
}