#layer-details{
    width: 100vw;
    height: 100vh;
    background-color: burlywood;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
}

.layers-form{
    width: 93%;
    height: 82%;
    background-color: blue;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.layers-container{
    background-color: aqua;
    width: 93%;
    height: 90%;
    overflow-y: scroll;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column ;
}

.layer-component{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.layer-component button{
    border: none;
    background-color: none;
}
.layer-component-input{
    margin-bottom: 0.5%;
    height: 25px;
    background: transparent;    
    outline-width: 0;
    outline: none;
    /* color: white; */
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: groove;
    border-bottom-color: black;
}

.layer-component-file-input{
    display: none;
}

.layer-button{
    cursor: pointer;
}

.layer-detail-submit{
    /* position: fixed;
    bottom: 5%; */
}