/* 
.loader{
    width: 100vw;
    height: 100vh;
    background-color: red;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    perspective: 1000px;
}

.preview-slider{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    background-color: blanchedalmond;
    height: 85%;
}

.mint-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 10%;
    flex-direction: row;
    margin-top: 1%;
}

.mint-button{
    border: 2px solid white;
    height: 50%;
    font-weight: bold;
    width: 40%;
    font-size: 2.2vh;
    text-align: center;
    cursor: pointer;
} */
#generated-preview{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

/* #work-container{
    width: 86%;
    height: 86%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-size: 400% 100%;
  } */
  

.loader{
    width: 100vw;
    height: 100vh;
    /* background-color: black; */
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(0deg, #50e640, #0c100f,#0c100f, #0c100f, #0c100f );
    background-size: 50% 250%;

    -webkit-animation: gradient 8s ease-in-out infinite;
    -moz-animation: gradient 8s ease-in-out infinite;
    animation: gradient 8s ease-in-out infinite;

}

@-webkit-keyframes gradient {
    0%{background-position:0% 99%}
    50%{background-position:100% 1%}
    100%{background-position:0% 99%}
}
@-moz-keyframes gradient {
    0%{background-position:0% 99%}
    50%{background-position:100% 1%}
    100%{background-position:0% 99%}
}
@keyframes gradient {
    0%{background-position:0% 99%}
    50%{background-position:100% 1%}
    100%{background-position:0% 99%}
}
.preview-gallery-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99%;
    height: 85%;
    overflow-x: scroll;
    /* border: 5px solid brown; */
    /* position: absolute; */
    /* transform-style: preserve-3d;
    transition: transform 1s; */
}
.preview-gallery{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
    width: 95%;
    height: 95%;
    overflow-x: scroll;
    border: 3px solid white;
    flex-shrink: 0;
}

.mint-options{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    width: 50%;
    height: 10%;
    flex-direction: row;
    margin-top: 1%;
}

.mint-button{
    border: 2px solid white;
    height: 50%;
    font-weight: bold;
    width: 40%;
    font-size: 2.2vh;
    text-align: center;
    cursor: pointer;
}


.preview-image-container{
    border: 2px solid white;
    height: 55vh;
    width: 30vw;
    background-color: coral;
    margin: 1%;
    flex-shrink: 0;
}



.preview-image-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
